<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDTDgvXFEQcDqcu-71XEfrUPgZlEBalHvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>587105097302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cookin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodislife-a25f6</string>
	<key>STORAGE_BUCKET</key>
	<string>foodislife-a25f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587105097302:ios:a3b71b9d97c10b5f840df7</string>
</dict>
</plist>